**/__pycache__/
!data/placeholder.txt
refs/*
!refs/placeholder.txt
codes/myTest.py
checkpoints/*
!checkpoints/placeholder.txt
modeling/*
codes/dump.py
codes/deeplabSus.py
codes/main.ipynb
codes/contourTrain.py
codes/temp.py
codes/1.tif
unet/*
codes/temp.py
codes/.ipynb_checkpoints/
models/unet2.py
.vscode/
wandb/*
train.sh
temp.py
logs/*
!logs/.placeholder
.idea
